.status{
    margin-top:7%;
    border-style: ;
    border-left-color:aqua; 
    background-color: ;
    position: relative;
}
.button-status {
    border-radius: 20%;
    margin-right: -10%;
    float: right;
    margin-top: -2%;
}